
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="mb-0"><strong>Horario</strong></h5>

<div class="row mt-3">
    <div class="col-sm-12">
        <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label for="Medico" class="control-label col-sm-1">Medico</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Seleccionar ...</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>


        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
        </div>
        <!--Datatable-->
        <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
            <h6 class="mb-2">Seleccionar</h6>

            <table class="table table-bordered" id="project_table">
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sabado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>07:00 - 07:30</td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                    </tr>
                    <tr>
                        <td>07:30 - 08:00</td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                    </tr>
                    <tr>
                        <td>08:00 - 08:30</td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                    </tr>
                    <tr>
                        <td>08:30 - 09:00</td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                    </tr>
                    <tr>
                        <td>09:00 - 09:30</td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                    </tr>
                    <tr>
                        <td>09:30 - 10:00</td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                    </tr>
                    <tr>
                        <td>10:00 - 10:30</td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                    </tr>
                    <tr>
                        <td>10:30 - 11:00</td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                    </tr>
                    <tr>
                        <td>11:00 - 11:30</td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                        <td><input type="checkbox" class="js-single" /></td>
                    </tr>
                </tbody>
                <tr>
                    <td>11:30 - 12:00</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>12:00 - 12:30</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>12:30 - 13:00</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>13:00 - 13:30</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>13:30 - 14:00</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>14:00 - 14:30</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>14:30 - 15:00</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>15:00 - 15:30</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>15:30 - 16:00</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>16:00 - 16:30</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>16:30 - 17:00</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>17:00 - 17:30</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>17:30 - 18:00</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>18:00 - 18:30</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                <tr>
                    <td>18:30 - 19:00</td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                    <td><input type="checkbox" class="js-single" /></td>
                </tr>
                
            </table>
        </div>
        <!--/Varying modal content-->

    </div>
</div>

